<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= render 'form' %>

<%= @products.each do |product| %>
<br>
<%= product[:name] %>
<br>
<%= product[:description] %>
<br>
<%= product[:price_in_cents]%>

<% end %>
