<h1>Products: Index View </h1>

<div class="navlinks">
<%= link_to("Sign In", new_session_path) %><br/>
<%= link_to("Create a Product", new_product_path) %><br/>
<%= link_to("Sign Up as New User", new_user_path) %>
</div>

<br />
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag (:q) %>
  <%= submit_tag("Search") %>
<% end %>


<h3>List of Current Products</h3>

  <% @products.each do |product| %>
  <br>
  <h4><%= product.name %></h4>
  <br>
  <%= product.description %>
  <br>
  <%= product.formatted_price %>

  <br>



<% end %>
