<h1>Products#show</h1>

<%= link_to("Back to Home Page", products_path) %><br />
<%= link_to("Edit Product", edit_product_path)  %>

<br/>
<% params[:id] %>
<br/>
<%= @product.name %>
<br/>
<%= @product.description %>
<br/>
<%= formatted_price @product.price_in_cents %>
 